p  {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.2em;
    text-indent: 1em;
}

h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2em;
    text-align: center;
}
h3 {
    text-align: center;
}
p.important {
    font-size: 1.5em;
    font-weight: 750;
}
h3.bigger {
    font-size: 2.5em;
    
}
.typewriter {
    font-family: 'Courier New', Courier, monospace;
}
p.standout {
    font-style: italic;
    border: 5px double brown;
}
p.pretty {
    text-align: justify;
    
}

h4.standout {
    font-style: italic;
}
.emphasized {
    font-style: italic;
}
.standout {
    color: #cc0000;
    font-weight: bold;
    font-style: italic;
}
.date-style {
    text-align: right;
}
blockquote {
    color: darkgreen;
    line-height: 1.5em;
    margin: 0 10em 0 4em;
 }

 p#idpractice {
     font-family: 'Times New Roman', Times, serif;
     font-size: large;
     text-align: justify;
     color: blueviolet;
 }
 img.two {
     height: 25%;
     width: 25%;
     margin-left: 30%;
     margin-right: 2em;
     float: left;
     display: block;
 }
 img.centered {
     height: 50%;
     width: 40%;
     margin-left: auto;
     margin-right: auto;
     margin-top: 2em;
     display: block;
     
 }
 p.no-wrap {
     clear: both;
 }